*{
  font-family: 'Roboto Regular', arial !important;
  transition: 0.2s all;
}
.grecaptcha-badge {
  display: none;
}
.form-input-focus-title{
  position: relative;
  .title-show-focus{
    position: absolute;
    right: 0;
    text-align: right;
    bottom: 50px;
    background-color: #f88000;
    padding: 10px;
    color: white;
    border-bottom-right-radius: 35px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    display: none;
    max-width: 200px;
  }
}

input:focus ~ .title-show-focus{
  display: block !important;
}

/*menu top*/
.name-header-top-site{
  min-height: 45px;
  display: flex;
  justify-content: space-between;
  padding: 10px 0 10px 0;
  .menu-header-top-site{
    text-align: right;
    .btn-default{
      margin-right: 10px;
      border-radius: 6.5px;
      //width: 145px;
      //height: 40px;
      //padding: 15px;
    }
    .btn-orange{
      margin-right: 10px;
      border-radius: 6.5px;
      //width: 132px;
      //height: 40px;
      //padding: 14px;
    }
  }
  .logo-header-top-menu-l{
    display: flex;
    .icon-true-money{
      margin-left: 30px;
      line-height: 40px;
      a{
        img{
          width: 164px;
          height: 34px;
        }
      }
    }
    .phone-number-icon{
      display: flex;
      .icon-phone-true{
        margin-left: 80px;
      }
      .phone-number-true-header-logo{
        margin-left: 15px;
        line-height: 45px;
        a{
          font-family: Roboto;
          font-size: 14px;
          font-weight: bold;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: normal;
          text-align: center;
          color: #f48120;
          text-decoration: none;
        }
      }
    }
  }
}
@media screen and (max-width: 758px) {
  .name-header-top-site {
    .logo-header-top-menu-l {
      display: block;
      .phone-number-icon {
        .icon-phone-true {
          margin-left: 30px;
        }
      }
    }
  }
}
/*cneter regis*/
.center-box-register{
  min-height: 650px;
  background-image: url("../img/ic-banner.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: relative;
  .box-regis-form-control{
    .box-form-regis{
      max-width: 720px;
      min-height: 645px;
      position: relative;
      .form-regis-box-regis{
        position: absolute;
        width: 100%;
        top: 11.5%;
        left: 32%;
        /*header*/
        .header-box-regis-title{
          text-align: center;
          font-family: Roboto;
          font-size: 32px;
          font-weight: bold;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: normal;
          color: #ffd68c;
          text-transform: uppercase
        }
        /*description*/
        .header-box-regis-description{
          text-align: center;
          font-family: Roboto;
          font-size: 13px;
          font-weight: bold;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: normal;
          color: #ffffff;
          margin-bottom: 50px;
          text-transform: uppercase
        }
        /*form control*/
        .input-form-reigister-write{
          //max-width: 624px;
          background-color: white;
          padding: 60px;
          margin: auto;
          .row{
            display: flex;
            margin: auto;
            justify-content: center;
            //justify-content: space-between;
            .input-left{
              margin-right: 50px;
            }
            .input-phone-form-lending, .input-time-borrow-form-lending, .input-email-form-lending{
              .input-tag-lending{
                display: flex;
                .width-lending-img-lending{
                  width: 35px;
                  text-align: left;
                }
                .icon-input-lending{
                  height: 22px;
                  margin-top: 3px;
                }
                .input-type-text-form{
                  width: 186px;
                  height: 32px;
                  border: 0;
                  background-color: white;
                  outline: 0;
                  padding-left: 7px;
                }
              }
              .title-input-phone-lending{
                font-size: 14px;
                color: #64849f;
              }
            }
            .input-totalborrow-form-lending{
              .title-input-phone-lending{
                font-size: 14px;
                color: #64849f;
              }
              .input-type-text-form{
                width: 186px;
                height: 32px;
                border: 0;
                background-color: white;
                outline: 0;
                padding-left: 7px;
              }
              .render-number-borrow-total-rewrite{
                text-align: center;
              }
              .slider-line-lending{
                width: 220px;
              }
            }
          }
        }
        .button-submit-form-in-lending{
          background-color: #ffa834;
          //width: 624px;
          height: 39px;
          line-height: 39px;
          text-align: center;
          justify-content: center;
          cursor: pointer;
          margin: auto;
          span{
            color: white;
            font-size: 16px;
            font-weight: bold;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 1024px) {
  .center-box-register{
    min-height: 600px;
    .box-regis-form-control {
      .box-form-regis {
        margin: auto;
        padding-top: 45px;
        min-height: 600px;
        .form-regis-box-regis{
          top: 0;
          left: 0;
          position: initial;
        }
      }
    }
  }
}
@media screen and (max-width: 900px) {
  .center-box-register{
    min-height: 690px;
    .box-regis-form-control {
      .box-form-regis {
        .form-regis-box-regis{
          top: 4.5%;
          left: 30px;
          .header-box-regis-title{
            font-size: 28px;
          }
          .header-box-regis-description{
            font-size: 10px;
          }
          .input-form-reigister-write{
            width: 75%;
          }
          .button-submit-form-in-lending{
            width: 75%;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 550px) {
  .center-box-register {
    .box-regis-form-control {
      .box-form-regis{
        //min-height: 870px;
        .form-regis-box-regis{
          width: 95%;
          margin: auto;
          position: static;
          top: 0;
          left: 0;
          .input-form-reigister-write{
            width: 75%;
            .row{
              justify-content: center;
              .input-left{
                margin-right: 0;
              }
            }
          }
          .button-submit-form-in-lending{
            width: 75%;
          }
        }
      }
    }
  }
}
/*box content tile*/
.box-content-why-finhub-true{
  min-height: 256px;
  width: 100%;
  margin: auto;
  background-color: #f6f6f6;
  padding: 70px 0 70px 0;
  .row-header-content-why-findhub-true{
    text-align: center;
    margin-bottom: 53px;
    span{
      text-align: center;
      font-size: 30px;
      color: black;
      text-transform: uppercase;
    }
  }
  .box-footer-content-why-findhub-true{
    width: 80%;
    display: flex;
    margin: auto;
    .row-1, .row-2{
      display: flex;
      .box-content-item-findhub-true{
        margin-right: 20px;
        width: 33%;
        flex-grow: 1;
        .img-true-why-findhub-true{
          display: flex;
          margin-right: 15px;
          .img-findhub-true-left-content{
            width: 50px;
            height: 50px;
          }
          .text-title-top-why-findhub-true{
            margin-left: 10px;
            font-family: Roboto;
            text-transform: uppercase;
            font-size: 17px;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            color: #ff8f00;
          }
        }
        .title-content-render-view{
          .text-description-top-why-findhub-true{
            font-family: Roboto;
            font-size: 14px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            color: #000000;
            margin-left: 60px;
            text-align: justify;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 1250px) {
  .box-content-why-finhub-true {
    .box-footer-content-why-findhub-true {
      display: block;
      .row-1{
        margin-bottom: 10px;
        .box-content-item-findhub-true{
        }
      }
      .row-2{
        margin-bottom: 10px;
        .box-content-item-findhub-true{
        }
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .box-content-why-finhub-true {
    padding-bottom: 50px;
    .row-header-content-why-findhub-true {
      margin: 25px 0 30px 0;
      span {
      }
    }
    .box-footer-content-why-findhub-true {
      display: block;
      .row-1{
        display: block;
        .box-content-item-findhub-true{
          margin-bottom: 15px;
          width: 100%;
        }
      }
      .row-2{
        display: block;
        .box-content-item-findhub-true{
          margin-bottom: 15px;
          width: 100%;
        }
      }
    }
  }
}
/*list icon bank*/
.list-bank-content-lending{
  min-height: 270px;
  .header-title-bank-content-lending{
    text-align: center;
    margin-top: 70px;
    span{
      font-size: 30px;
      text-transform: uppercase;
    }
  }
  .list-content-bank-lending{
    width: 75%;
    display: flex;
    justify-content: center;
    margin: 30px auto 30px auto;
    .item-lending-bank-icon{
      margin-right: 101px;
      .icon-bank-item-in-list{
        width: 65px;
        //height: 70px;
      }
    }
  }
}
@media screen and (max-width: 1200px) {
  .list-bank-content-lending{
    .header-title-bank-content-lending{
      span{
      }
    }
    .list-content-bank-lending{
      .item-lending-bank-icon{
        margin-right: 55px;
        .icon-bank-item-in-list{
          //height: 70px;
        }
      }
    }
  }
}
@media screen and (max-width: 1000px) {
  .list-bank-content-lending{
    .header-title-bank-content-lending{
      span{
      }
    }
    .list-content-bank-lending{
      .item-lending-bank-icon{
        margin-right: 25px;
        .icon-bank-item-in-list{
          //height: 70px;
        }
      }
    }
  }
}
@media screen and (max-width: 900px) {
  .list-bank-content-lending{
    min-height: 285px;
    .header-title-bank-content-lending{
      width: 90%;
      margin: 40px auto;
      span{
      }
    }
    .list-content-bank-lending{
      .item-lending-bank-icon{
        margin-right: 45px;
        .icon-bank-item-in-list{
          width: 55px;
          //height: 70px;
        }
      }
    }
  }
}
@media screen and (max-width: 620px) {
  .list-bank-content-lending{
    min-height: 285px;
    .header-title-bank-content-lending{
      span{
      }
    }
    .list-content-bank-lending{
      .item-lending-bank-icon{
        margin-right: 10px;
        .icon-bank-item-in-list{
          width: 35px;
          //height: 70px;
        }
      }
    }
  }
}
/*menu banner footer*/
.item-list-menu-footer-banner{
  min-height: 228px;
  background-color: #333333;
  padding-top: 38px;
  .box-menu-footer-all{
    display: flex;
    width: 75%;
    margin: auto;
    .row-menu-1, .row-menu-2{
      display: flex;
      width: 85%;
      margin: auto;
      justify-content: space-between;
      .column-one-menu-footer-banner{
        flex-grow: 1;
        padding-right: 5px;
      }
    }
    .column-one-menu-footer-banner{
      .text-style-menu-banner{
        color: white;
      }
      .first-menu-column-banner{
        font-size: 14px;
        font-weight: bold;
      }
      .second-menu-column-banner{
        font-size: 14px;
      }
      .input-write-to-accept-sent-information{
        margin: 7px 0 18px 0;
        border-bottom: 2px solid #9b9b9b;
        .email-sent-mail-input{
          background-color: #333333;
          border: 0;
          outline: 0;
          color: white;
          padding-left: 5px;
        }
      }
      .title-public-internet{
        margin-top: 0;
        //margin-top: 24px;
        span{
          color: white;
          font-weight: bold;
          font-size: 15px;
        }
      }
      .list-icon-internet-public{
        .icon-internet-public{
          img{
            width: 28px;
            border-radius: 50%;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 1080px) {
  .item-list-menu-footer-banner{
    .box-menu-footer-all{
      display: block;
      .row-menu-1{
        width: 75%;
        padding-bottom: 15px;
        .column-one-menu-footer-banner{
          width: 33%;
          .text-style-menu-banner{
          }
          .first-menu-column-banner{
          }
          .second-menu-column-banner{
          }
          .input-write-to-accept-sent-information{
            .email-sent-mail-input{
            }
          }
          .title-public-internet{
            span{
            }
          }
          .list-icon-internet-public{
            .icon-internet-public{
              img{
              }
            }
          }
        }
      }
      .row-menu-2{
        width: 75%;
        padding-bottom: 15px;
        .column-one-menu-footer-banner{
          width: 33%;
          .text-style-menu-banner{
          }
          .first-menu-column-banner{
          }
          .second-menu-column-banner{
          }
          .input-write-to-accept-sent-information{
            .email-sent-mail-input{
            }
          }
          .title-public-internet{
            span{
            }
          }
          .list-icon-internet-public{
            .icon-internet-public{
              img{
              }
            }
          }
        }
      }
      .responsive-menu-footer-banner{
        width: 75%;
        margin: auto;
      }
    }
  }
}
/*footer country*/
.footer-icon-country-in-lending{
  padding: 25px 0 34px 0;
  .box-content-all-country-andoi-partner{
    width: 75%;
    display: flex;
    justify-content: space-between;
    margin: auto;
  }
  .box-icon-country-lending{
    flex-grow: 1;
    width: 33%;
    .header-tille-country-lending{
      color: #333333;
      font-size: 17px;
      font-weight: bold;
      margin-bottom: 15px;
      span{
        font-family: Roboto;
        font-size: 20px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #333333;
      }
    }
    .list-icon-country-lending{
      .icon-country-img-lending{
        width: 38px;
        margin-right: 5px;
      }
    }
  }
  .box-icon-partner-lending{
    flex-grow: 1;
    width: 33%;
    .header-tille-partner-lending{
      color: #333333;
      font-size: 17px;
      font-weight: bold;
      margin-bottom: 15px;
      span{
        font-family: Roboto;
        font-size: 20px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #333333;
      }
    }
    .list-icon-partner-lending{
      .icon-partner-img-lending{
        width: 28px;
        margin-right: 5px;
      }
      .icon-partner-img-lending-mog{
        width: 50px;
        margin-right: 5px;
      }
      .icon-partner-img-lending-pci{
        width: 75px;
      }
    }
  }
}
@media screen and (max-width: 650px) {
  .footer-icon-country-in-lending {
    padding: 25px 0 0px 0;
    .box-content-all-country-andoi-partner {
      display: block;
      text-align: center;
      .box-icon-country-lending{
        padding-bottom: 15px;
        width: 100%;
      }
      .box-icon-partner-lending{
        padding-bottom: 15px;
        width: 100%;
      }
    }
  }
}
/*information company*/
.box-information-to-company-all{
  .box-style-information-company{
    width: 75%;
    margin: auto;
    .box-header-title-information-company{
      span{
        font-weight: bold;
        font-size: 17px;
        color: #333333;
      }
    }
    .box-list-all-company-infor{
      display: flex;
      .information-company-in-hn{
        margin-right: 50px;
        flex-grow: 1;
        width: 33%;
        .name-country-hn{
          font-size: 15px;
          color: #333333;
          font-weight: bold;
          padding-bottom: 8px;
        }
        .description-country-hn{
          font-size: 14px;
          padding-bottom: 8px;
        }
      }
    }
    .all-right{
      margin-top: 50px;
      font-size: 18px;
      padding-bottom: 15px;
    }
  }
}
/*form register*/
.box-form-register-information{
  position: relative;
  .close-modal-login-regis-information{
    .img-close-modal-regis{
      width: 40px;
      height: 40px;
      position: absolute;
      top: -85px;
      right: -35px;
      cursor: pointer;
    }
  }
  .username-register-information{
    width: 100%;
    border: 1px solid #e6e6e6;
    padding: 12px;
    border-radius: 8px;
    margin-bottom: 10px;
    .username-regis-infor-img{
      width: 20px;
    }
    .input-username-regis-infor{
      width: 93%;
      border: 0;
      outline: 0;
    }
  }
  .email-register-information{
    width: 100%;
    border: 1px solid #e6e6e6;
    padding: 12px;
    border-radius: 8px;
    margin-bottom: 10px;
    .email-regis-infor-img{
      width: 20px;
    }
    .input-email-regis-infor{
      width: 93%;
      border: 0;
      outline: 0;
    }
  }
  .phone-register-information{
    width: 100%;
    border: 1px solid #e6e6e6;
    padding: 12px;
    border-radius: 8px;
    margin-bottom: 10px;
    .phone-regis-infor-img{
      width: 20px;
    }
    .input-pheone-regis-infor{
      width: 93%;
      border: 0;
      outline: 0;
    }
  }
  .password-register-information{
    width: 100%;
    border: 1px solid #e6e6e6;
    padding: 12px;
    border-radius: 8px;
    margin-bottom: 10px;
    .password-regis-infor-img{
      width: 20px;
    }
    .input-password-regis-infor{
      width: 93%;
      border: 0;
      outline: 0;
    }
  }
  .repassword-register-information{
    width: 100%;
    border: 1px solid #e6e6e6;
    padding: 12px;
    border-radius: 8px;
    margin-bottom: 10px;
    .repassword-regis-infor-img{
      width: 20px;
    }
    .input-repassword-regis-infor{
      width: 93%;
      border: 0;
      outline: 0;
    }
  }
  .checkbox-borrower-register-information{
    display: flex;
    justify-content: space-between;
    margin-bottom: 39px;
    .correct-borrow-regis{
      cursor: pointer;
      width: 47%;
      border: 1px solid #e6e6e6;
      margin: auto;
      text-align: center;
      border-radius: 10px;
      padding: 15px;
      position: relative;
      span{
        color: #000000;
        font-size: 15px;
      }
      .correct-ticker{
        .img-success-ticker{
          width: 20px;
          position: absolute;
          right: 9px;
        }
      }
      span.unactive > .img-success-ticker{
        display: none;
      }
    }
    .correct-tobe-borrow-regis{
      cursor: pointer;
      width: 50%;
      border: 1px solid #e6e6e6;
      margin: auto;
      text-align: center;
      border-radius: 10px;
      padding: 15px;
      position: relative;
      span{
        color: #cdcdcd;
        font-size: 15px;
      }
      .fail-ticker{
        .img-success-ticker{
          width: 20px;
          position: absolute;
          right: 9px;
        }
      }
      span.unactive > .img-success-ticker{
        display: none;
      }
    }
  }
  .a-regis-now-form-regis-information{
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    .btn-regis-now-form-regis-information{
      width: 100%;
      max-width: 360px;
      line-height: 48px;
      margin: 24px auto;
      text-align: center;
      background-color: #ff8f00;
      border-radius: 8px;
    }
  }
  .a-login-byFb-form-regis-information{
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    .btn-login-byFb-form-regis-information{
      width: 100%;
      max-width: 360px;
      line-height: 48px;
      margin: 24px auto;
      text-align: center;
      background-color: #4267b2;
      border-radius: 8px;
    }
  }
  .a-login-form-regis-information{
    color: #ff8f00;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    .btn-login-form-regis-information{
      width: 100%;
      max-width: 360px;
      line-height: 48px;
      margin: 24px auto;
      text-align: center;
      border: 1px solid #ff8f00;
      border-radius: 8px;
    }
  }
  .forget-password-and-regislink-btn-login{
    display: flex;
    justify-content: space-between;
    .forget-password-login{
      a{
        font-style: italic;
        text-decoration: underline;
      }
    }
    .regis-link-login{

    }
  }
}
/*notification popup*/
.form-notification-lending{
  padding: 50px 0 50px 0;
  .box-img-notification-denied{
    width: 100%;
    margin: auto;
    text-align: center;
    .img-notification-denied{
      width: 150px;
      height: 150px;
    }
  }
  .box-content-notification{
    margin: 50px 0 23px 0;
    width: 100%;
    text-align: center;
    span{
      font-size: 20px;
      color: #333333;
    }
  }
  .tag-action-close-notification{
    font-size: 16px;
    text-decoration: none;
    color: #ffffff;
    .box-end-close-notification{
      background-color: #f5a623;
      width: 301px;
      line-height: 42px;
      margin: auto;
      text-align: center;
    }
  }
}

/*box verify code*/
/*
.box-verify-code{
  width: 100%;
  margin: auto;
  .box-center-content-verify{
    background-color: beige;
    min-height: 150px;
    width: 260px;
    margin: 20px auto 20px auto;
    border: 1px solid #9fcdff;
    border-radius: 10px;
    .title-veryfi-code{
      border-bottom: 1px solid #9fcdff;
      height: 40px;
      line-height: 40px;
      padding: 5px 0 4px 15px;
      font-size: 21px;
    }
    .box-input-verify-code{
      .row-phone-hide-verify{
        margin: 10px 0 12px 8px;
        .input-phone-style-verify{
          width: 95%;
          padding-left: 5px;
        }
      }
      .row-verifycode-hide-verify{
        margin: 10px 0 12px 8px;
        .input-verifycode-style-verify{
          width: 95%;
          padding-left: 5px;
        }
      }
    }
    .btn-refresh-code-and-submit-code{
      display: flex;
      justify-content: space-between;
      padding: 20px 7px 15px 8px;
      line-height: 30px;
      .refresh-code-then-dont-accept{

      }
      .btn-submit-code-verify-code{
        .style-btn-code-verify{
          background-color: #f48120;
          padding: 12px 15px 12px 16px;
          color: white;
          text-decoration: none;
        }
      }
    }
  }
}
*/

