* {
  font-family: 'Roboto Regular', arial !important;
  transition: 0.2s all; }

.grecaptcha-badge {
  display: none; }

.form-input-focus-title {
  position: relative; }
  .form-input-focus-title .title-show-focus {
    position: absolute;
    right: 0;
    text-align: right;
    bottom: 50px;
    background-color: #f88000;
    padding: 10px;
    color: white;
    border-bottom-right-radius: 35px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    display: none;
    max-width: 200px; }

input:focus ~ .title-show-focus {
  display: block !important; }

/*menu top*/
.name-header-top-site {
  min-height: 45px;
  display: flex;
  justify-content: space-between;
  padding: 10px 0 10px 0; }
  .name-header-top-site .menu-header-top-site {
    text-align: right; }
    .name-header-top-site .menu-header-top-site .btn-default {
      margin-right: 10px;
      border-radius: 6.5px; }
    .name-header-top-site .menu-header-top-site .btn-orange {
      margin-right: 10px;
      border-radius: 6.5px; }
  .name-header-top-site .logo-header-top-menu-l {
    display: flex; }
    .name-header-top-site .logo-header-top-menu-l .icon-true-money {
      margin-left: 30px;
      line-height: 40px; }
      .name-header-top-site .logo-header-top-menu-l .icon-true-money a img {
        width: 164px;
        height: 34px; }
    .name-header-top-site .logo-header-top-menu-l .phone-number-icon {
      display: flex; }
      .name-header-top-site .logo-header-top-menu-l .phone-number-icon .icon-phone-true {
        margin-left: 80px; }
      .name-header-top-site .logo-header-top-menu-l .phone-number-icon .phone-number-true-header-logo {
        margin-left: 15px;
        line-height: 45px; }
        .name-header-top-site .logo-header-top-menu-l .phone-number-icon .phone-number-true-header-logo a {
          font-family: Roboto;
          font-size: 14px;
          font-weight: bold;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: normal;
          text-align: center;
          color: #f48120;
          text-decoration: none; }

@media screen and (max-width: 758px) {
  .name-header-top-site .logo-header-top-menu-l {
    display: block; }
    .name-header-top-site .logo-header-top-menu-l .phone-number-icon .icon-phone-true {
      margin-left: 30px; } }
/*cneter regis*/
.center-box-register {
  min-height: 650px;
  background-image: url("../img/ic-banner.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: relative; }
  .center-box-register .box-regis-form-control .box-form-regis {
    max-width: 720px;
    min-height: 645px;
    position: relative; }
    .center-box-register .box-regis-form-control .box-form-regis .form-regis-box-regis {
      position: absolute;
      width: 100%;
      top: 11.5%;
      left: 32%;
      /*header*/
      /*description*/
      /*form control*/ }
      .center-box-register .box-regis-form-control .box-form-regis .form-regis-box-regis .header-box-regis-title {
        text-align: center;
        font-family: Roboto;
        font-size: 32px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #ffd68c;
        text-transform: uppercase; }
      .center-box-register .box-regis-form-control .box-form-regis .form-regis-box-regis .header-box-regis-description {
        text-align: center;
        font-family: Roboto;
        font-size: 13px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #ffffff;
        margin-bottom: 50px;
        text-transform: uppercase; }
      .center-box-register .box-regis-form-control .box-form-regis .form-regis-box-regis .input-form-reigister-write {
        background-color: white;
        padding: 60px;
        margin: auto; }
        .center-box-register .box-regis-form-control .box-form-regis .form-regis-box-regis .input-form-reigister-write .row {
          display: flex;
          margin: auto;
          justify-content: center; }
          .center-box-register .box-regis-form-control .box-form-regis .form-regis-box-regis .input-form-reigister-write .row .input-left {
            margin-right: 50px; }
          .center-box-register .box-regis-form-control .box-form-regis .form-regis-box-regis .input-form-reigister-write .row .input-phone-form-lending .input-tag-lending, .center-box-register .box-regis-form-control .box-form-regis .form-regis-box-regis .input-form-reigister-write .row .input-time-borrow-form-lending .input-tag-lending, .center-box-register .box-regis-form-control .box-form-regis .form-regis-box-regis .input-form-reigister-write .row .input-email-form-lending .input-tag-lending {
            display: flex; }
            .center-box-register .box-regis-form-control .box-form-regis .form-regis-box-regis .input-form-reigister-write .row .input-phone-form-lending .input-tag-lending .width-lending-img-lending, .center-box-register .box-regis-form-control .box-form-regis .form-regis-box-regis .input-form-reigister-write .row .input-time-borrow-form-lending .input-tag-lending .width-lending-img-lending, .center-box-register .box-regis-form-control .box-form-regis .form-regis-box-regis .input-form-reigister-write .row .input-email-form-lending .input-tag-lending .width-lending-img-lending {
              width: 35px;
              text-align: left; }
            .center-box-register .box-regis-form-control .box-form-regis .form-regis-box-regis .input-form-reigister-write .row .input-phone-form-lending .input-tag-lending .icon-input-lending, .center-box-register .box-regis-form-control .box-form-regis .form-regis-box-regis .input-form-reigister-write .row .input-time-borrow-form-lending .input-tag-lending .icon-input-lending, .center-box-register .box-regis-form-control .box-form-regis .form-regis-box-regis .input-form-reigister-write .row .input-email-form-lending .input-tag-lending .icon-input-lending {
              height: 22px;
              margin-top: 3px; }
            .center-box-register .box-regis-form-control .box-form-regis .form-regis-box-regis .input-form-reigister-write .row .input-phone-form-lending .input-tag-lending .input-type-text-form, .center-box-register .box-regis-form-control .box-form-regis .form-regis-box-regis .input-form-reigister-write .row .input-time-borrow-form-lending .input-tag-lending .input-type-text-form, .center-box-register .box-regis-form-control .box-form-regis .form-regis-box-regis .input-form-reigister-write .row .input-email-form-lending .input-tag-lending .input-type-text-form {
              width: 186px;
              height: 32px;
              border: 0;
              background-color: white;
              outline: 0;
              padding-left: 7px; }
          .center-box-register .box-regis-form-control .box-form-regis .form-regis-box-regis .input-form-reigister-write .row .input-phone-form-lending .title-input-phone-lending, .center-box-register .box-regis-form-control .box-form-regis .form-regis-box-regis .input-form-reigister-write .row .input-time-borrow-form-lending .title-input-phone-lending, .center-box-register .box-regis-form-control .box-form-regis .form-regis-box-regis .input-form-reigister-write .row .input-email-form-lending .title-input-phone-lending {
            font-size: 14px;
            color: #64849f; }
          .center-box-register .box-regis-form-control .box-form-regis .form-regis-box-regis .input-form-reigister-write .row .input-totalborrow-form-lending .title-input-phone-lending {
            font-size: 14px;
            color: #64849f; }
          .center-box-register .box-regis-form-control .box-form-regis .form-regis-box-regis .input-form-reigister-write .row .input-totalborrow-form-lending .input-type-text-form {
            width: 186px;
            height: 32px;
            border: 0;
            background-color: white;
            outline: 0;
            padding-left: 7px; }
          .center-box-register .box-regis-form-control .box-form-regis .form-regis-box-regis .input-form-reigister-write .row .input-totalborrow-form-lending .render-number-borrow-total-rewrite {
            text-align: center; }
          .center-box-register .box-regis-form-control .box-form-regis .form-regis-box-regis .input-form-reigister-write .row .input-totalborrow-form-lending .slider-line-lending {
            width: 220px; }
      .center-box-register .box-regis-form-control .box-form-regis .form-regis-box-regis .button-submit-form-in-lending {
        background-color: #ffa834;
        height: 39px;
        line-height: 39px;
        text-align: center;
        justify-content: center;
        cursor: pointer;
        margin: auto; }
        .center-box-register .box-regis-form-control .box-form-regis .form-regis-box-regis .button-submit-form-in-lending span {
          color: white;
          font-size: 16px;
          font-weight: bold; }

@media screen and (max-width: 1024px) {
  .center-box-register {
    min-height: 600px; }
    .center-box-register .box-regis-form-control .box-form-regis {
      margin: auto;
      padding-top: 45px;
      min-height: 600px; }
      .center-box-register .box-regis-form-control .box-form-regis .form-regis-box-regis {
        top: 0;
        left: 0;
        position: initial; } }
@media screen and (max-width: 900px) {
  .center-box-register {
    min-height: 690px; }
    .center-box-register .box-regis-form-control .box-form-regis .form-regis-box-regis {
      top: 4.5%;
      left: 30px; }
      .center-box-register .box-regis-form-control .box-form-regis .form-regis-box-regis .header-box-regis-title {
        font-size: 28px; }
      .center-box-register .box-regis-form-control .box-form-regis .form-regis-box-regis .header-box-regis-description {
        font-size: 10px; }
      .center-box-register .box-regis-form-control .box-form-regis .form-regis-box-regis .input-form-reigister-write {
        width: 75%; }
      .center-box-register .box-regis-form-control .box-form-regis .form-regis-box-regis .button-submit-form-in-lending {
        width: 75%; } }
@media screen and (max-width: 550px) {
  .center-box-register .box-regis-form-control .box-form-regis .form-regis-box-regis {
    width: 95%;
    margin: auto;
    position: static;
    top: 0;
    left: 0; }
    .center-box-register .box-regis-form-control .box-form-regis .form-regis-box-regis .input-form-reigister-write {
      width: 75%; }
      .center-box-register .box-regis-form-control .box-form-regis .form-regis-box-regis .input-form-reigister-write .row {
        justify-content: center; }
        .center-box-register .box-regis-form-control .box-form-regis .form-regis-box-regis .input-form-reigister-write .row .input-left {
          margin-right: 0; }
    .center-box-register .box-regis-form-control .box-form-regis .form-regis-box-regis .button-submit-form-in-lending {
      width: 75%; } }
/*box content tile*/
.box-content-why-finhub-true {
  min-height: 256px;
  width: 100%;
  margin: auto;
  background-color: #f6f6f6;
  padding: 70px 0 70px 0; }
  .box-content-why-finhub-true .row-header-content-why-findhub-true {
    text-align: center;
    margin-bottom: 53px; }
    .box-content-why-finhub-true .row-header-content-why-findhub-true span {
      text-align: center;
      font-size: 30px;
      color: black;
      text-transform: uppercase; }
  .box-content-why-finhub-true .box-footer-content-why-findhub-true {
    width: 80%;
    display: flex;
    margin: auto; }
    .box-content-why-finhub-true .box-footer-content-why-findhub-true .row-1, .box-content-why-finhub-true .box-footer-content-why-findhub-true .row-2 {
      display: flex; }
      .box-content-why-finhub-true .box-footer-content-why-findhub-true .row-1 .box-content-item-findhub-true, .box-content-why-finhub-true .box-footer-content-why-findhub-true .row-2 .box-content-item-findhub-true {
        margin-right: 20px;
        width: 33%;
        flex-grow: 1; }
        .box-content-why-finhub-true .box-footer-content-why-findhub-true .row-1 .box-content-item-findhub-true .img-true-why-findhub-true, .box-content-why-finhub-true .box-footer-content-why-findhub-true .row-2 .box-content-item-findhub-true .img-true-why-findhub-true {
          display: flex;
          margin-right: 15px; }
          .box-content-why-finhub-true .box-footer-content-why-findhub-true .row-1 .box-content-item-findhub-true .img-true-why-findhub-true .img-findhub-true-left-content, .box-content-why-finhub-true .box-footer-content-why-findhub-true .row-2 .box-content-item-findhub-true .img-true-why-findhub-true .img-findhub-true-left-content {
            width: 50px;
            height: 50px; }
          .box-content-why-finhub-true .box-footer-content-why-findhub-true .row-1 .box-content-item-findhub-true .img-true-why-findhub-true .text-title-top-why-findhub-true, .box-content-why-finhub-true .box-footer-content-why-findhub-true .row-2 .box-content-item-findhub-true .img-true-why-findhub-true .text-title-top-why-findhub-true {
            margin-left: 10px;
            font-family: Roboto;
            text-transform: uppercase;
            font-size: 17px;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            color: #ff8f00; }
        .box-content-why-finhub-true .box-footer-content-why-findhub-true .row-1 .box-content-item-findhub-true .title-content-render-view .text-description-top-why-findhub-true, .box-content-why-finhub-true .box-footer-content-why-findhub-true .row-2 .box-content-item-findhub-true .title-content-render-view .text-description-top-why-findhub-true {
          font-family: Roboto;
          font-size: 14px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: normal;
          color: #000000;
          margin-left: 60px;
          text-align: justify; }

@media screen and (max-width: 1250px) {
  .box-content-why-finhub-true .box-footer-content-why-findhub-true {
    display: block; }
    .box-content-why-finhub-true .box-footer-content-why-findhub-true .row-1 {
      margin-bottom: 10px; }
    .box-content-why-finhub-true .box-footer-content-why-findhub-true .row-2 {
      margin-bottom: 10px; } }
@media screen and (max-width: 900px) {
  .box-content-why-finhub-true {
    padding-bottom: 50px; }
    .box-content-why-finhub-true .row-header-content-why-findhub-true {
      margin: 25px 0 30px 0; }
    .box-content-why-finhub-true .box-footer-content-why-findhub-true {
      display: block; }
      .box-content-why-finhub-true .box-footer-content-why-findhub-true .row-1 {
        display: block; }
        .box-content-why-finhub-true .box-footer-content-why-findhub-true .row-1 .box-content-item-findhub-true {
          margin-bottom: 15px;
          width: 100%; }
      .box-content-why-finhub-true .box-footer-content-why-findhub-true .row-2 {
        display: block; }
        .box-content-why-finhub-true .box-footer-content-why-findhub-true .row-2 .box-content-item-findhub-true {
          margin-bottom: 15px;
          width: 100%; } }
/*list icon bank*/
.list-bank-content-lending {
  min-height: 270px; }
  .list-bank-content-lending .header-title-bank-content-lending {
    text-align: center;
    margin-top: 70px; }
    .list-bank-content-lending .header-title-bank-content-lending span {
      font-size: 30px;
      text-transform: uppercase; }
  .list-bank-content-lending .list-content-bank-lending {
    width: 75%;
    display: flex;
    justify-content: center;
    margin: 30px auto 30px auto; }
    .list-bank-content-lending .list-content-bank-lending .item-lending-bank-icon {
      margin-right: 101px; }
      .list-bank-content-lending .list-content-bank-lending .item-lending-bank-icon .icon-bank-item-in-list {
        width: 65px; }

@media screen and (max-width: 1200px) {
  .list-bank-content-lending .list-content-bank-lending .item-lending-bank-icon {
    margin-right: 55px; } }
@media screen and (max-width: 1000px) {
  .list-bank-content-lending .list-content-bank-lending .item-lending-bank-icon {
    margin-right: 25px; } }
@media screen and (max-width: 900px) {
  .list-bank-content-lending {
    min-height: 285px; }
    .list-bank-content-lending .header-title-bank-content-lending {
      width: 90%;
      margin: 40px auto; }
    .list-bank-content-lending .list-content-bank-lending .item-lending-bank-icon {
      margin-right: 45px; }
      .list-bank-content-lending .list-content-bank-lending .item-lending-bank-icon .icon-bank-item-in-list {
        width: 55px; } }
@media screen and (max-width: 620px) {
  .list-bank-content-lending {
    min-height: 285px; }
    .list-bank-content-lending .list-content-bank-lending .item-lending-bank-icon {
      margin-right: 10px; }
      .list-bank-content-lending .list-content-bank-lending .item-lending-bank-icon .icon-bank-item-in-list {
        width: 35px; } }
/*menu banner footer*/
.item-list-menu-footer-banner {
  min-height: 228px;
  background-color: #333333;
  padding-top: 38px; }
  .item-list-menu-footer-banner .box-menu-footer-all {
    display: flex;
    width: 75%;
    margin: auto; }
    .item-list-menu-footer-banner .box-menu-footer-all .row-menu-1, .item-list-menu-footer-banner .box-menu-footer-all .row-menu-2 {
      display: flex;
      width: 85%;
      margin: auto;
      justify-content: space-between; }
      .item-list-menu-footer-banner .box-menu-footer-all .row-menu-1 .column-one-menu-footer-banner, .item-list-menu-footer-banner .box-menu-footer-all .row-menu-2 .column-one-menu-footer-banner {
        flex-grow: 1;
        padding-right: 5px; }
    .item-list-menu-footer-banner .box-menu-footer-all .column-one-menu-footer-banner .text-style-menu-banner {
      color: white; }
    .item-list-menu-footer-banner .box-menu-footer-all .column-one-menu-footer-banner .first-menu-column-banner {
      font-size: 14px;
      font-weight: bold; }
    .item-list-menu-footer-banner .box-menu-footer-all .column-one-menu-footer-banner .second-menu-column-banner {
      font-size: 14px; }
    .item-list-menu-footer-banner .box-menu-footer-all .column-one-menu-footer-banner .input-write-to-accept-sent-information {
      margin: 7px 0 18px 0;
      border-bottom: 2px solid #9b9b9b; }
      .item-list-menu-footer-banner .box-menu-footer-all .column-one-menu-footer-banner .input-write-to-accept-sent-information .email-sent-mail-input {
        background-color: #333333;
        border: 0;
        outline: 0;
        color: white;
        padding-left: 5px; }
    .item-list-menu-footer-banner .box-menu-footer-all .column-one-menu-footer-banner .title-public-internet {
      margin-top: 0; }
      .item-list-menu-footer-banner .box-menu-footer-all .column-one-menu-footer-banner .title-public-internet span {
        color: white;
        font-weight: bold;
        font-size: 15px; }
    .item-list-menu-footer-banner .box-menu-footer-all .column-one-menu-footer-banner .list-icon-internet-public .icon-internet-public img {
      width: 28px;
      border-radius: 50%; }

@media screen and (max-width: 1080px) {
  .item-list-menu-footer-banner .box-menu-footer-all {
    display: block; }
    .item-list-menu-footer-banner .box-menu-footer-all .row-menu-1 {
      width: 75%;
      padding-bottom: 15px; }
      .item-list-menu-footer-banner .box-menu-footer-all .row-menu-1 .column-one-menu-footer-banner {
        width: 33%; }
    .item-list-menu-footer-banner .box-menu-footer-all .row-menu-2 {
      width: 75%;
      padding-bottom: 15px; }
      .item-list-menu-footer-banner .box-menu-footer-all .row-menu-2 .column-one-menu-footer-banner {
        width: 33%; }
    .item-list-menu-footer-banner .box-menu-footer-all .responsive-menu-footer-banner {
      width: 75%;
      margin: auto; } }
/*footer country*/
.footer-icon-country-in-lending {
  padding: 25px 0 34px 0; }
  .footer-icon-country-in-lending .box-content-all-country-andoi-partner {
    width: 75%;
    display: flex;
    justify-content: space-between;
    margin: auto; }
  .footer-icon-country-in-lending .box-icon-country-lending {
    flex-grow: 1;
    width: 33%; }
    .footer-icon-country-in-lending .box-icon-country-lending .header-tille-country-lending {
      color: #333333;
      font-size: 17px;
      font-weight: bold;
      margin-bottom: 15px; }
      .footer-icon-country-in-lending .box-icon-country-lending .header-tille-country-lending span {
        font-family: Roboto;
        font-size: 20px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #333333; }
    .footer-icon-country-in-lending .box-icon-country-lending .list-icon-country-lending .icon-country-img-lending {
      width: 38px;
      margin-right: 5px; }
  .footer-icon-country-in-lending .box-icon-partner-lending {
    flex-grow: 1;
    width: 33%; }
    .footer-icon-country-in-lending .box-icon-partner-lending .header-tille-partner-lending {
      color: #333333;
      font-size: 17px;
      font-weight: bold;
      margin-bottom: 15px; }
      .footer-icon-country-in-lending .box-icon-partner-lending .header-tille-partner-lending span {
        font-family: Roboto;
        font-size: 20px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #333333; }
    .footer-icon-country-in-lending .box-icon-partner-lending .list-icon-partner-lending .icon-partner-img-lending {
      width: 28px;
      margin-right: 5px; }
    .footer-icon-country-in-lending .box-icon-partner-lending .list-icon-partner-lending .icon-partner-img-lending-mog {
      width: 50px;
      margin-right: 5px; }
    .footer-icon-country-in-lending .box-icon-partner-lending .list-icon-partner-lending .icon-partner-img-lending-pci {
      width: 75px; }

@media screen and (max-width: 650px) {
  .footer-icon-country-in-lending {
    padding: 25px 0 0px 0; }
    .footer-icon-country-in-lending .box-content-all-country-andoi-partner {
      display: block;
      text-align: center; }
      .footer-icon-country-in-lending .box-content-all-country-andoi-partner .box-icon-country-lending {
        padding-bottom: 15px;
        width: 100%; }
      .footer-icon-country-in-lending .box-content-all-country-andoi-partner .box-icon-partner-lending {
        padding-bottom: 15px;
        width: 100%; } }
/*information company*/
.box-information-to-company-all .box-style-information-company {
  width: 75%;
  margin: auto; }
  .box-information-to-company-all .box-style-information-company .box-header-title-information-company span {
    font-weight: bold;
    font-size: 17px;
    color: #333333; }
  .box-information-to-company-all .box-style-information-company .box-list-all-company-infor {
    display: flex; }
    .box-information-to-company-all .box-style-information-company .box-list-all-company-infor .information-company-in-hn {
      margin-right: 50px;
      flex-grow: 1;
      width: 33%; }
      .box-information-to-company-all .box-style-information-company .box-list-all-company-infor .information-company-in-hn .name-country-hn {
        font-size: 15px;
        color: #333333;
        font-weight: bold;
        padding-bottom: 8px; }
      .box-information-to-company-all .box-style-information-company .box-list-all-company-infor .information-company-in-hn .description-country-hn {
        font-size: 14px;
        padding-bottom: 8px; }
  .box-information-to-company-all .box-style-information-company .all-right {
    margin-top: 50px;
    font-size: 18px;
    padding-bottom: 15px; }

/*form register*/
.box-form-register-information {
  position: relative; }
  .box-form-register-information .close-modal-login-regis-information .img-close-modal-regis {
    width: 40px;
    height: 40px;
    position: absolute;
    top: -85px;
    right: -35px;
    cursor: pointer; }
  .box-form-register-information .username-register-information {
    width: 100%;
    border: 1px solid #e6e6e6;
    padding: 12px;
    border-radius: 8px;
    margin-bottom: 10px; }
    .box-form-register-information .username-register-information .username-regis-infor-img {
      width: 20px; }
    .box-form-register-information .username-register-information .input-username-regis-infor {
      width: 93%;
      border: 0;
      outline: 0; }
  .box-form-register-information .email-register-information {
    width: 100%;
    border: 1px solid #e6e6e6;
    padding: 12px;
    border-radius: 8px;
    margin-bottom: 10px; }
    .box-form-register-information .email-register-information .email-regis-infor-img {
      width: 20px; }
    .box-form-register-information .email-register-information .input-email-regis-infor {
      width: 93%;
      border: 0;
      outline: 0; }
  .box-form-register-information .phone-register-information {
    width: 100%;
    border: 1px solid #e6e6e6;
    padding: 12px;
    border-radius: 8px;
    margin-bottom: 10px; }
    .box-form-register-information .phone-register-information .phone-regis-infor-img {
      width: 20px; }
    .box-form-register-information .phone-register-information .input-pheone-regis-infor {
      width: 93%;
      border: 0;
      outline: 0; }
  .box-form-register-information .password-register-information {
    width: 100%;
    border: 1px solid #e6e6e6;
    padding: 12px;
    border-radius: 8px;
    margin-bottom: 10px; }
    .box-form-register-information .password-register-information .password-regis-infor-img {
      width: 20px; }
    .box-form-register-information .password-register-information .input-password-regis-infor {
      width: 93%;
      border: 0;
      outline: 0; }
  .box-form-register-information .repassword-register-information {
    width: 100%;
    border: 1px solid #e6e6e6;
    padding: 12px;
    border-radius: 8px;
    margin-bottom: 10px; }
    .box-form-register-information .repassword-register-information .repassword-regis-infor-img {
      width: 20px; }
    .box-form-register-information .repassword-register-information .input-repassword-regis-infor {
      width: 93%;
      border: 0;
      outline: 0; }
  .box-form-register-information .checkbox-borrower-register-information {
    display: flex;
    justify-content: space-between;
    margin-bottom: 39px; }
    .box-form-register-information .checkbox-borrower-register-information .correct-borrow-regis {
      cursor: pointer;
      width: 47%;
      border: 1px solid #e6e6e6;
      margin: auto;
      text-align: center;
      border-radius: 10px;
      padding: 15px;
      position: relative; }
      .box-form-register-information .checkbox-borrower-register-information .correct-borrow-regis span {
        color: #000000;
        font-size: 15px; }
      .box-form-register-information .checkbox-borrower-register-information .correct-borrow-regis .correct-ticker .img-success-ticker {
        width: 20px;
        position: absolute;
        right: 9px; }
      .box-form-register-information .checkbox-borrower-register-information .correct-borrow-regis span.unactive > .img-success-ticker {
        display: none; }
    .box-form-register-information .checkbox-borrower-register-information .correct-tobe-borrow-regis {
      cursor: pointer;
      width: 50%;
      border: 1px solid #e6e6e6;
      margin: auto;
      text-align: center;
      border-radius: 10px;
      padding: 15px;
      position: relative; }
      .box-form-register-information .checkbox-borrower-register-information .correct-tobe-borrow-regis span {
        color: #cdcdcd;
        font-size: 15px; }
      .box-form-register-information .checkbox-borrower-register-information .correct-tobe-borrow-regis .fail-ticker .img-success-ticker {
        width: 20px;
        position: absolute;
        right: 9px; }
      .box-form-register-information .checkbox-borrower-register-information .correct-tobe-borrow-regis span.unactive > .img-success-ticker {
        display: none; }
  .box-form-register-information .a-regis-now-form-regis-information {
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none; }
    .box-form-register-information .a-regis-now-form-regis-information .btn-regis-now-form-regis-information {
      width: 100%;
      max-width: 360px;
      line-height: 48px;
      margin: 24px auto;
      text-align: center;
      background-color: #ff8f00;
      border-radius: 8px; }
  .box-form-register-information .a-login-byFb-form-regis-information {
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none; }
    .box-form-register-information .a-login-byFb-form-regis-information .btn-login-byFb-form-regis-information {
      width: 100%;
      max-width: 360px;
      line-height: 48px;
      margin: 24px auto;
      text-align: center;
      background-color: #4267b2;
      border-radius: 8px; }
  .box-form-register-information .a-login-form-regis-information {
    color: #ff8f00;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none; }
    .box-form-register-information .a-login-form-regis-information .btn-login-form-regis-information {
      width: 100%;
      max-width: 360px;
      line-height: 48px;
      margin: 24px auto;
      text-align: center;
      border: 1px solid #ff8f00;
      border-radius: 8px; }
  .box-form-register-information .forget-password-and-regislink-btn-login {
    display: flex;
    justify-content: space-between; }
    .box-form-register-information .forget-password-and-regislink-btn-login .forget-password-login a {
      font-style: italic;
      text-decoration: underline; }

/*notification popup*/
.form-notification-lending {
  padding: 50px 0 50px 0; }
  .form-notification-lending .box-img-notification-denied {
    width: 100%;
    margin: auto;
    text-align: center; }
    .form-notification-lending .box-img-notification-denied .img-notification-denied {
      width: 150px;
      height: 150px; }
  .form-notification-lending .box-content-notification {
    margin: 50px 0 23px 0;
    width: 100%;
    text-align: center; }
    .form-notification-lending .box-content-notification span {
      font-size: 20px;
      color: #333333; }
  .form-notification-lending .tag-action-close-notification {
    font-size: 16px;
    text-decoration: none;
    color: #ffffff; }
    .form-notification-lending .tag-action-close-notification .box-end-close-notification {
      background-color: #f5a623;
      width: 301px;
      line-height: 42px;
      margin: auto;
      text-align: center; }

/*box verify code*/
/*
.box-verify-code{
  width: 100%;
  margin: auto;
  .box-center-content-verify{
    background-color: beige;
    min-height: 150px;
    width: 260px;
    margin: 20px auto 20px auto;
    border: 1px solid #9fcdff;
    border-radius: 10px;
    .title-veryfi-code{
      border-bottom: 1px solid #9fcdff;
      height: 40px;
      line-height: 40px;
      padding: 5px 0 4px 15px;
      font-size: 21px;
    }
    .box-input-verify-code{
      .row-phone-hide-verify{
        margin: 10px 0 12px 8px;
        .input-phone-style-verify{
          width: 95%;
          padding-left: 5px;
        }
      }
      .row-verifycode-hide-verify{
        margin: 10px 0 12px 8px;
        .input-verifycode-style-verify{
          width: 95%;
          padding-left: 5px;
        }
      }
    }
    .btn-refresh-code-and-submit-code{
      display: flex;
      justify-content: space-between;
      padding: 20px 7px 15px 8px;
      line-height: 30px;
      .refresh-code-then-dont-accept{

      }
      .btn-submit-code-verify-code{
        .style-btn-code-verify{
          background-color: #f48120;
          padding: 12px 15px 12px 16px;
          color: white;
          text-decoration: none;
        }
      }
    }
  }
}
*/

/*# sourceMappingURL=style.css.map */
